<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JumboChecker</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" href="./img/letter-j.png" />
  </head>
  <body>
    <header>
      <h1>JumboChecker</h1>
    </header>
    <main>
      <form action="/data" method="post">
        <!-- <input type="text" placeholder="Enter file directory" /> -->
        <textarea
          name="directory"
          id="fileDirectory"
          placeholder="Enter file directory"
        ></textarea>
        <div>
          <!-- <input type="text" placeholder="АртикалID" /> -->
          <textarea name="articleId" id="" placeholder="АртикалID"></textarea>
          <!-- <input type="text" placeholder="ВероID" /> -->
          <textarea name="veroId" id="" placeholder="ВероID"></textarea>
          <!-- <input type="text" placeholder="Код на доб." /> -->
          <textarea name="code" id="" placeholder="Код на доб."></textarea>
          <!-- <input type="text" placeholder="Назив" /> -->
          <textarea name="articleName" id="" placeholder="Назив"></textarea>
          <!-- <input type="text" placeholder="Количина" /> -->
          <textarea name="amount" id="" placeholder="Количина"></textarea>
        </div>
        <button type="subim">Start</button>
      </form>
    </main>
  </body>
</html>
